html,body {font-size:20px;}
a {
  text-decoration: none;
  color: black;
}
.black,
 {
  background-color: black;
}
.post-tag {
font-size:11px;
}
.btn {font-size: 12px;}
.title {font-size: 24px;}
