{% include "layouts/head.njk" %}
{% include "layouts/seo.njk" %}
{% include "layouts/css.njk" %}
{% include "layouts/navhome.njk" %}
{% include "layouts/content.njk" %}
{% include "layouts/footer.njk" %}