<footer class="p-1 post-tag text-center"><a href="{{metadata.url}}">{{metadata.title}}</a> <br/>Powered by <a href="https://cloudflare.com">cloudflare</a> built with <a href="https://www.11ty.dev/">11ty</a> made by <a href="https://www.fiverr.com/creativitas/design-your-modern-website-using-jekyll">creativitas</a></footer></div></body></html>
