<footer class="p-1 text-center"><a href="{{metadata.url}}">{{metadata.title}}</a> built with <a href="https://www.11ty.dev/">11ty</a> made by <a href="https://axcora.com/getaxcoracms">axcora</a></footer>
</div>
</body>
</html>