<header>
<div class="container-fluid">
<div class="col-2 col-md-1 p-3 fixed-top">
<div class="row">
<div class="col-12 p-0">
<a href="{{ '/' | url }}"><img class="img-fluid rounded" width="100%" alt="{{ metadata.title }}" src="{{ metadata.nav.logo }}"/></a>
</div>
<a href="{{ '/' | url }}#{{ metadata.nav.menu1 }}" class="col-12 p-3 btn btn-dark border border-white text-white"><i class="{{ metadata.nav.icon1 }} fa-2x"></i></a>
<a href="{{ '/' | url }}#{{ metadata.nav.menu2 }}" class="col-12 p-3 btn btn-dark border border-white text-white"><i class="{{ metadata.nav.icon2 }} fa-2x"></i></a>
<a href="{{ '/' | url }}#{{ metadata.nav.menu3 }}" class="col-12 p-3 btn btn-dark border border-white text-white"><i class="{{ metadata.nav.icon3 }} fa-2x"></i></a>
<a href="{{ '/' | url }}#{{ metadata.nav.menu4 }}" class="col-12 p-3 btn btn-dark border border-white text-white"><i class="{{ metadata.nav.icon4 }} fa-2x"></i></a>
<a href="{{ '/posts' | url }}" class="col-12 p-3 btn btn-dark border border-white text-white"><i class="fas fa-book fa-2x"></i></a>
<a href="{{ '/' | url }}#{{ metadata.nav.menu5 }}" class="col-12 p-3 btn btn-dark border border-white text-white"><i class="{{ metadata.nav.icon5 }} fa-2x"></i></a>
<a href="https://github.com/mesinkasir/text11ty" class="col-12 p-3 btn btn-dark border border-white text-white"><i class="fa-brands fa-github fa-2x"></i></a>
</div>
</div>
</header>