---
layout: layouts/start.njk
templateClass: tmpl-post
---
<h1><a href="{{page.url}}">{{ title }}</a></h1>
<div class="tag">
<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> . 
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag border"> {{ tag }}</a>  . 
{%- endfor %}
</div>
<p>
{{ content | safe }}
</p>
{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
